In [ ]:
!pip install -q datasets
from datasets import load_dataset
import pickle
import numpy as np
import pandas as pd

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 474.6/474.6 kB 9.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 110.5/110.5 kB 12.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 212.5/212.5 kB 24.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 134.3/134.3 kB 15.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 43.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 28.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.5/114.5 kB 13.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 268.8/268.8 kB 29.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 149.6/149.6 kB 12.8 MB/s eta 0:00:00

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#**Monolingual**

##Fr

In [ ]:
df_single_fr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Single Lingual/French2_FRG_Info.csv")
df_single_fr

      Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0              0             2                  1              [1 2 3]
1              1            15                  0                   []
2              2            53                  1    [1 2 3 4 5 7 8 9]
3              3            63                  1    [1 2 3 5 6 7 8 9]
4              4            65                  2        [1 3 4 7 8 9]
...          ...           ...                ...                  ...
1176        1176          8426                  2    [0 2 3 5 6 7 8 9]
1177        1177          8432                  0                   []
1178        1178          8438                  0                   []
1179        1179          8450                  1  [0 1 3 4 5 6 7 8 9]
1180        1180          8459                  1  [0 1 2 3 4 5 7 8 9]

[1181 rows x 4 columns]

In [ ]:
len(df_single_fr)

1181

In [ ]:
df_single_fr['forgetting_events'].value_counts()

1    737
0    250
2    168
3     19
4      7
Name: forgetting_events, dtype: int64

In [ ]:
df_single_fr["Match_label_indexs"][df_single_fr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2])

0       3
2       9
3       9
4       9
5       7
       ..
1174    9
1175    9
1176    9
1179    9
1180    9
Name: Match_label_indexs, Length: 861, dtype: object

In [ ]:
#How many true prediction ?
(df_single_fr["Match_label_indexs"][df_single_fr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

728

##Fa

In [ ]:
df_single_fa = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Single Lingual/Farsi_FRG_Info.csv")
df_single_fa

      Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0              0             0                  2          [3 5 7 8 9]
1              1             5                  0                   []
2              2             8                  1              [6 8 9]
3              3            33                  0                   []
4              4            38                  0                   []
...          ...           ...                ...                  ...
1036        1036         11431                  2      [1 3 5 6 7 8 9]
1037        1037         11454                  1      [2 4 5 6 7 8 9]
1038        1038         11472                  1  [0 2 3 4 5 6 7 8 9]
1039        1039         11493                  1      [1 4 5 6 7 8 9]
1040        1040         11502                  1  [0 1 2 4 5 6 7 8 9]

[1041 rows x 4 columns]

In [ ]:
len(df_single_fa)

1041

In [ ]:
df_single_fa['forgetting_events'].value_counts()

1    832
0    105
2     99
3      5
Name: forgetting_events, dtype: int64

In [ ]:
# How mant true prediction ?
(df_single_fa["Match_label_indexs"][df_single_fa["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

887

##En

In [ ]:
df_single_en = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Single Lingual/English2_FRG_Info.csv")
df_single_en

     Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0             0            20                  1    [1 2 4 5 6 7 8 9]
1             1            22                  1    [1 2 4 5 6 7 8 9]
2             2            31                  1    [1 2 4 5 6 7 8 9]
3             3            52                  1    [1 3 4 5 6 7 8 9]
4             4            63                  1    [1 3 4 5 6 7 8 9]
..          ...           ...                ...                  ...
458         458          7542                  1  [0 2 3 4 5 6 7 8 9]
459         459          7546                  1    [1 3 4 5 6 7 8 9]
460         460          7554                  1  [0 2 3 4 5 6 7 8 9]
461         461          7597                  1    [1 3 4 5 6 7 8 9]
462         462          7598                  1  [0 2 3 4 5 6 7 8 9]

[463 rows x 4 columns]

In [ ]:
len(df_single_en)

463

In [ ]:
df_single_en['forgetting_events'].value_counts()

1    434
2     19
0      8
3      2
Name: forgetting_events, dtype: int64

In [ ]:
# How mant true prediction ?
(df_single_en["Match_label_indexs"][df_single_en["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

448

# **Multi Source(The combination of 2 of 3 sources)**

## *Similar(English and French)*

###Forgettables for English

In [ ]:
# df_multi_en_enfr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_en_10epochs_enfr_Info.csv")
df_multi_en_enfr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/English2_MLL_FRG_Info_FREN2.csv")
df_multi_en_enfr

     Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0             0            12                  1      [2 4 5 6 7 8 9]
1             1            31                  1    [1 2 3 4 6 7 8 9]
2             2            71                  1    [1 2 4 5 6 7 8 9]
3             3           110                  1    [1 3 4 5 6 7 8 9]
4             4           209                  1    [1 3 4 5 6 7 8 9]
..          ...           ...                ...                  ...
421         421          7500                  1  [0 2 3 4 5 6 7 8 9]
422         422          7513                  1  [0 2 3 4 5 6 7 8 9]
423         423          7514                  1  [0 2 3 4 5 6 7 8 9]
424         424          7554                  1      [2 4 5 6 7 8 9]
425         425          7564                  1      [2 4 5 6 7 8 9]

[426 rows x 4 columns]

In [ ]:
# How many true prediction ?
(df_multi_en_enfr["Match_label_indexs"][df_multi_en_enfr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

411

In [ ]:
df_multi_en_enfr['forgetting_events'].value_counts()

1    399
2     15
0     12
Name: forgetting_events, dtype: int64

In [ ]:
df_multi_en_enfr[df_multi_en_enfr['forgetting_events']==2]

     Unnamed: 0  sample_index  forgetting_events Match_label_indexs
47           47          1014                  2      [2 3 5 7 8 9]
67           67          1497                  2            [1 7 8]
130         130          2780                  2            [1 6 9]
144         144          3022                  2    [1 3 5 6 7 8 9]
150         150          3104                  2      [1 4 5 7 8 9]
155         155          3180                  2    [0 3 4 6 7 8 9]
222         222          4042                  2    [0 2 5 6 7 8 9]
276         276          4955                  2    [0 3 5 6 7 8 9]
277         277          4960                  2    [0 3 5 6 7 8 9]
334         334          6003                  2  [0 2 3 5 6 7 8 9]
342         342          6169                  2    [1 3 4 5 6 7 9]
361         361          6472                  2    [1 2 3 4 6 7 9]
377         377          6772                  2      [2 3 4 6 8 9]
400         400          7131                  2      [0 4 5 7 8 9]
409         409          7281                  2  [0 1 3 5 6 7 8 9]

###Forgettables for French

In [ ]:
# df_multi_fr_enfr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_fr_10epochs_enfr_Info.csv")
df_multi_fr_enfr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/French2_MLL_FRG_Info_FREN2.csv")
df_multi_fr_enfr

     Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0             0             2                  1            [0 1 2 3]
1             1            34                  1      [2 4 5 6 7 8 9]
2             2            37                  1  [0 1 3 4 5 6 7 8 9]
3             3            62                  1      [2 4 5 6 7 8 9]
4             4            66                  1                [5 6]
..          ...           ...                ...                  ...
986         986          8411                  1          [0 6 7 8 9]
987         987          8432                  0                   []
988         988          8438                  0                   []
989         989          8444                  1      [2 3 5 6 7 8 9]
990         990          8450                  1    [0 3 4 5 6 7 8 9]

[991 rows x 4 columns]

In [ ]:
# How many true prediction ?
(df_multi_fr_enfr["Match_label_indexs"][df_multi_fr_enfr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

611

In [ ]:
df_multi_fr_enfr['forgetting_events'].value_counts()

1    599
0    229
2    135
3     27
4      1
Name: forgetting_events, dtype: int64

## *Dissimilar(Farsi and French)*

###Forgettable for Farsi

In [ ]:
# df_multi_fa_fafr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_fa_10epochs_fafr_Info.csv")
df_multi_fa_fafr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/Farsi_MLL_FRG_Info_FRFA2.csv")
df_multi_fa_fafr

      Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0              0             0                  1      [2 3 4 5 6 8 9]
1              1             4                  1    [0 3 4 5 6 7 8 9]
2              2             5                  0                   []
3              3            15                  1    [1 2 4 5 6 7 8 9]
4              4            33                  0                   []
...          ...           ...                ...                  ...
1137        1137         11450                  1  [0 1 2 3 4 6 7 8 9]
1138        1138         11454                  1      [2 3 4 5 7 8 9]
1139        1139         11489                  1    [1 2 3 4 6 7 8 9]
1140        1140         11493                  1    [0 1 4 5 6 7 8 9]
1141        1141         11499                  1  [0 1 2 3 5 6 7 8 9]

[1142 rows x 4 columns]

In [ ]:
# How many true prediction ?
(df_multi_fa_fafr["Match_label_indexs"][df_multi_fa_fafr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

914

In [ ]:
# len(dataset_P['train']['label'])

In [ ]:
df_multi_fa_fafr['forgetting_events'].value_counts()

1    868
0    133
2    126
3     14
4      1
Name: forgetting_events, dtype: int64

###Forgettable for French

In [ ]:
# df_multi_fr_fafr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_fr_10epochs_fafr_Info.csv")
df_multi_fr_fafr = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/French2_MLL_FRG_Info_FRFA2.csv")
df_multi_fr_fafr

     Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0             0             2                  1                [1 2]
1             1            15                  1              [6 7 8]
2             2            36                  1      [2 3 5 6 7 8 9]
3             3            67                  0                   []
4             4            69                  1      [1 4 5 6 7 8 9]
..          ...           ...                ...                  ...
971         971          8409                  1  [0 1 2 3 5 6 7 8 9]
972         972          8411                  1      [2 4 5 6 7 8 9]
973         973          8424                  2        [2 4 6 7 8 9]
974         974          8426                  1      [2 4 5 6 7 8 9]
975         975          8432                  0                   []

[976 rows x 4 columns]

In [ ]:
# How many true prediction ?
(df_multi_fr_fafr["Match_label_indexs"][df_multi_fr_fafr["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

617

In [ ]:
df_multi_fr_fafr['forgetting_events'].value_counts()

1    635
0    186
2    137
3     17
4      1
Name: forgetting_events, dtype: int64

In [ ]:
#Comparison between fr in fafr and enfr
new_df = pd.concat([df_multi_fr_fafr,df_multi_fr_enfr])
(new_df['sample_index'].value_counts()==2).astype('int').sum()

609

## *Dissimilar(English and Farsi)*

###Forgettable for English

In [ ]:
# df_multi_en_enfa = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_en_10epochs_enfa_Info.csv")
df_multi_en_enfa = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/English2_MLL_FRG_Info_ENFA2.csv")
df_multi_en_enfa

     Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0             0             4                  1      [2 3 4 6 7 8 9]
1             1            16                  1    [0 3 4 5 6 7 8 9]
2             2            52                  1          [2 6 7 8 9]
3             3            56                  1    [1 3 4 5 6 7 8 9]
4             4            73                  1        [3 5 6 7 8 9]
..          ...           ...                ...                  ...
372         372          7506                  1    [0 3 4 5 6 7 8 9]
373         373          7508                  1    [1 3 4 5 6 7 8 9]
374         374          7540                  1  [0 2 3 4 5 6 7 8 9]
375         375          7547                  1    [1 2 3 5 6 7 8 9]
376         376          7554                  2        [1 2 4 7 8 9]

[377 rows x 4 columns]

In [ ]:
# len(dataset_E['train']['label'])

In [ ]:
# How many true prediction ?
(df_multi_en_enfa["Match_label_indexs"][df_multi_en_enfa["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

365

In [ ]:
df_multi_en_enfa['forgetting_events'].value_counts()

1    353
2     13
0     10
3      1
Name: forgetting_events, dtype: int64

In [ ]:
#Comparison between en in enfa and enfr
new_df = pd.concat([df_multi_en_enfa,df_multi_en_enfr])
(new_df['sample_index'].value_counts()==2).astype('int').sum()

87

###Forgettable for Farsi

In [ ]:
# df_multi_fa_enfa = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(csv files)/Multi Source/intent_fa_10epochs_enfa_Info.csv")
df_multi_fa_enfa = pd.read_csv("/content/drive/MyDrive/NLP Bachelors' Project/FRG_Info(pkl files)/Multi Lingual/Farsi_MLL_FRG_Info_ENFA2.csv")
df_multi_fa_enfa

      Unnamed: 0  sample_index  forgetting_events   Match_label_indexs
0              0             5                  0                   []
1              1            23                  1    [1 2 4 5 6 7 8 9]
2              2            33                  0                   []
3              3            40                  0                   []
4              4            50                  1      [2 3 5 6 7 8 9]
...          ...           ...                ...                  ...
1035        1035         11447                  0                   []
1036        1036         11479                  1    [1 3 4 5 6 7 8 9]
1037        1037         11489                  1      [1 2 3 4 5 8 9]
1038        1038         11493                  2    [0 1 2 3 5 7 8 9]
1039        1039         11495                  1  [0 1 2 3 4 5 6 7 9]

[1040 rows x 4 columns]

In [ ]:
# How many true prediction ?
(df_multi_fa_enfa["Match_label_indexs"][df_multi_fa_enfa["Match_label_indexs"].apply(lambda x: x[1:-1].split(' ')).apply(lambda x:len(x)>=2)].apply(lambda lst: lst[-2]).astype('int') == 9).sum()

822

In [ ]:
# len(dataset_S['train']['airline_sentiment'])

In [ ]:
df_multi_fa_enfa['forgetting_events'].value_counts()

1    789
0    131
2    115
3      5
Name: forgetting_events, dtype: int64

In [ ]:
#Comparison between farsi in enfa and fafr
new_df = pd.concat([df_multi_fa_enfa,df_multi_fa_fafr])
(new_df['sample_index'].value_counts()==2).astype('int').sum()

537

In [ ]:
#Comparison between all
new_df = pd.concat([df_multi_fa_enfa,df_multi_en_enfa,df_multi_fa_fafr,df_multi_fr_fafr,df_multi_en_enfr,df_multi_fr_enfr])
(new_df['sample_index'].value_counts()==6).astype('int').sum()

0